# Part 1

In [1]:
with open('input_day3.txt','r') as file:
    data = file.read().splitlines()

In [10]:
length=len(data[0])

In [23]:
ones=[len([x[i] for x in data if x[i]=='1']) for i in range(length)]
zeros=[len([x[i] for x in data if x[i]=='0']) for i in range(length)]

In [24]:
ones

[512, 501, 498, 517, 479, 484, 484, 505, 486, 501, 491, 512]

In [25]:
zeros

[488, 499, 502, 483, 521, 516, 516, 495, 514, 499, 509, 488]

In [33]:
gamma=[]
epsilon=[]
for i in range(length):
    if ones[i]>zeros[i]:
        gamma.append(str(1))
        epsilon.append(str(0))
    else:
        gamma.append(str(0))
        epsilon.append(str(1))
        
gamma=''.join(gamma)
epsilon=''.join(epsilon)

In [34]:
gamma #3349

'110100010101'

In [35]:
epsilon #746

'001011101010'

In [36]:
3349*746

2498354

# Part 2

In [47]:
import pandas as pd

In [48]:
df=pd.DataFrame([[i for i in x] for x in data], columns =list(range(length)), dtype = float)

In [67]:
df=pd.DataFrame([[i for i in x] for x in data], columns =list(range(length)), dtype = float)
##to get the oxigen
for i in range(length):
    zeros=list(df[i]).count(0)
    ones=list(df[i]).count(1)
    if zeros>ones:
        df=df[df[i]==0]
    elif zeros<=ones:
        df=df[df[i]==1]
df.reset_index(inplace=True,drop=True)
''.join([str(int(x)) for x in list(df.loc[0,:])])

'111101010001'

In [68]:
#3921

In [74]:
df=pd.DataFrame([[i for i in x] for x in data], columns =list(range(length)), dtype = float)
##to get the oxigen
for i in range(length):
    zeros=list(df[i]).count(0)
    ones=list(df[i]).count(1)
    if zeros>ones and ones>0:
        df=df[df[i]==1]
    elif zeros<=ones and zeros>0:
        df=df[df[i]==0]
df.reset_index(inplace=True,drop=True)
''.join([str(int(x)) for x in list(df.loc[0,:])])

'001101000100'

In [73]:
#836

    0    1    2    3    4    5    6    7    8    9    10   11
0  0.0  0.0  1.0  1.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0

In [76]:
3921*836

3277956